.aparecer {
    filter: blur(15px);
    opacity: 0;
    transition: all 1s;
}

.aparecer__show {
    filter: blur(0px) drop-shadow(5px 5px 2px #000000c7);
    transition: all 1s;
    opacity: 1;
}

.rotate {
    transform: translateX(-100%) rotate(-150deg);
    overflow-x: hidden;
    opacity: 0;
    transition: all 1s;
}

.rotate__show {
    transform: translateX(0);
    opacity: 1;
    transition: all 1s;
}

.desliza-direita {
    transform: translateX(100%);
    opacity: 0;
    overflow-x: hidden;
    transition: all 1s;
}

.desliza-direita__show {
    transform: translateX(0);
    opacity: 1;
    transition: all 1s;
}

.desliza-esquerda {
    transform: translateX(-100%);
    overflow-x: hidden;
    opacity: 0;
    transition: all 1s;
}

.desliza-esquerda__show {
    transform: translateX(0);
    opacity: 1;
    transition: all 1s;
}

.cresce {
    transform: scale(0.5);
    transition: all 1s;
}

.cresce__show {
    transform: scale(1);
    transition: all 1s;
}

.sobe {
    transform: translateY(30%);
    transition: all 1s;
}

.sobe__show {
    transform: translateY(0);
    transition: all 1s;
}