.bebidas-div {
    margin-bottom: 48px;
}

.cervejas-title,
.cervejas-pilula {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.cervejas-title {
    font-size: .9rem;
}

.cervejas-title span {
    color: var(--laranja);
}

.cervejas-pilula {
    color: var(--branco);
    background-color: var(--vermelho);
    border-radius: 15px;
    padding: 3px 8px;
    font-size: .5rem;
    font-weight: 700;
    width: fit-content;
}

@media screen and (min-width: 768px) {
    .cervejas-pilula {
        font-size: 1rem;
    }
    
    .cervejas-title {
        font-size: 2rem;
    }
    
}