.parmegianas {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
}

.parmegianas-h2 {
    color: var(--laranja);
    font-size: 1.2rem;
    text-align: center;
    margin-top: -10px;
    letter-spacing: 0px;
}

.parmegianas-h3 {
    font-size: 1rem;
}


.parmegianas-tabela-thead th,
.parmegianas-h4 {
    font-weight: 500;
}

.parmegianas-tabela-thead-first,
.parmegianas-h4 {
    text-transform: initial;
    text-align: left;
    vertical-align: bottom;
}

.parmegianas-pilula {
    font-family: "Raleway", Arial, sans-serif;
    text-transform: initial;
    font-size: .6rem;
    padding: 1px 2px;
    text-align: center;
    border-radius: 15px;
    width: 90%;
    margin-top: 0px;
    z-index: -1;
}

.parmegianas-tabela-linha td,
.parmegiana-passos-2 {
    padding-top: 5px;
    font-size: .8rem;
    font-weight: 600;
}

.parmegianas-tabela-linha td small {
    padding-top: 5px;
    font-size: .6rem;
    margin-right: 2px;
    font-weight: 400;
}


.td-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
}

.vegano {
    color: var(--verde-escuro);
}

.parmegiana-passos,
.parmegiana-passos h3 {
    margin-top: 1rem;
}

.parmegiana-passos-2 {
    border: 1.5px dotted var(--verde-escuro);
    margin: 0 .5rem 0 0;
    padding: .5rem;
    border-radius: .5rem;
}

.parmegianas .container {
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {

    .parmegianas-h2 {
        font-size: 2rem;
        margin-top: -10px;
    }

    .parmegianas-h3 {
        font-size: 2rem;
    }
    .parmegianas-h4, .parmegianas-tabela-thead th {
        font-size: 1.5rem;
    }

    .parmegianas-pilula {
        font-size: 1rem;
    }

    .parmegianas-tabela-linha td,
    .parmegiana-passos-2 {
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .parmegianas-tabela-linha td small {
        font-size: 1.2rem;
        font-weight: 500;

    }

    .td-flex {
        justify-content: space-around;
    }

    .parmegiana-passos-2 {
        border: 3px dotted var(--verde-escuro);
        margin:  1rem 0 ;
        padding: 1rem;
        border-radius:1rem;
    }
    
}