.parmegianas {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
}

.parmegianas-h2 {
    color: var(--laranja);
    font-size: clamp(.9rem, 5vw, 2rem);
    text-align: center;
    margin-top: -10px;
    letter-spacing: 0px;
}

.parmegianas-h3 {
    font-size: clamp(.9rem, 5vw, 1.7rem);
}


.parmegianas-tabela-thead th,
.parmegianas-h4 {
    font-weight: 500;
}

.parmegianas-tabela-thead-first,
.parmegianas-h4 {
    text-transform: initial;
    text-align: left;
    vertical-align: bottom;
}

.parmegianas-pilula {
    font-family: "Raleway", Arial, sans-serif;
    text-transform: initial;
    font-size: clamp(.6rem, 2vw, 1.5rem);
    padding: 1px 2px;
    text-align: center;
    border-radius: 15px;
    width: 90%;
    margin-top: 0px;
    z-index: -1;
}

.parmegianas-tabela-linha td,
.parmegiana-passos-2 {
    padding-top: 5px;
    font-size: clamp(.6rem, 2vw, 1.7rem);
    font-weight: 600;

}

.parmegianas-tabela-linha td small {
    padding-top: 5px;
    font-size: clamp(.6rem, 2vw, 1.7rem);
    margin-right: 2px;
    font-weight: 400;
}


.td-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    align-items: flex-end;
}

.vegano {
    color: var(--verde-escuro);
}

.parmegiana-passos,
.parmegiana-passos h3 {
    margin-top: 1rem;
}

.parmegiana-passos-2 {
    border: 1.5px dotted var(--verde-escuro);
    margin: 0 .5rem 0 0;
    padding: .5rem;
    border-radius: .5rem;
}

.parmegianas .container {
    margin-top: 2rem;
}

.valor-adcional {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: .1rem 0;
    font-size: clamp(.6rem, 2vw, 1.7rem);
    margin-left: auto;
    margin-top: -10px;
    width: 40%;
    max-width: 110px;
    border-radius: 1rem;
    text-align: center;
}

.parmegianas-doces {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 2rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.parmegianas-doces h2 {
    font-size: clamp(1rem, 2vw, 2rem);
    color: var(--amarelo);
}

.parmegianas-doces p, .parmegianas-doces span {
    color: var(--branco);
}

.selo-novidade {
    position: absolute;
    left: -59px;
    top: 18px;
    rotate: -45deg;
    background: var(--vermelho);
    box-shadow: 1px 1px 4px #000;
    padding: .2rem 4rem;
    font-size: clamp(.7rem, 2vw, 1.2rem);
    color: var(--amarelo);
}
