.img-sorvete {
    z-index: -2;
    margin-top: -60px;

}
.img-sobremesa{
    background: url("../img/img-romeu_julieta.webp") no-repeat center center;
    background-size: cover;

}
.sobremesas .container{
    margin-top: -20px;
}
.title-sobremesas {
    background: url('../img/sobremesa.webp') no-repeat center top;
    background-size: cover;
    height: 100px;
    position: relative;
    margin-bottom: 0;
    z-index: -1;
}

.title-sobremesas h2 {
    position: absolute;
    top: 15px;
}



@media screen and (min-width: 768px) {
    .title-sobremesas {
        height: 210px;
    }
    .sobremesas .container{
        margin-top: -30px;
    }
    .img-sorvete {
        z-index: -2;
        margin-top: -90px;
    
    }
}