:root {
    --amarelo: #FFF200;
    --preto: #000000;
    --vermelho: #AF1E22;
    --branco: #FAFAFA;
    --vinho: #4A090F;
    --cinza: #666666;
    --laranja: #e89200;
    --cinza-escuro: #363636;
    --navbar-height: 48px;
    --verde-escuro: #083d0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body section {
    margin-bottom: 0;
}

.menu-section {
    max-width: 780px;
    margin: 36px auto;
}

.menu-section img {
    width: 100%;
    margin: auto;
    object-fit: contain;
}



.saladas,
.pratos-tipicos,
.peixes,
.carnes,
.menu-infantil,
.risotos,
.porcoes-extras,
.parmegianas,
.bebidas,
.sobremesas {
    width: 100%;
    max-width: 780px;
    margin: 36px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.destaque {
    border-left: 3px solid var(--vermelho);
    padding-left: 10px;
    font-weight: 500;
    position: relative;
}


.destaque::before {
    content: "Novidade";
    position: absolute;
    background-color: var(--vermelho);
    color: var(--branco);
    bottom: 0;
    right: 0;
    padding: .1rem;
    border-radius: 4px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: .4rem;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 1rem;

}

.column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 48%;
    row-gap: 4px;
}

.item-nome {
    display: grid;
    grid-template-columns: 2fr auto 1fr;
    align-items: baseline;
    column-gap: 2px;
}

.item {
    width: 100%;

}

.item-cod,
.item-preco,
.separador {
    font-size: clamp(.9rem, 4vw, 1.7rem);
    font-weight: 600;
    letter-spacing: -0.8px;
    font-family: "Barlow Condensed", sans-serif;
    color: #231E1F;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.item-cod {
    line-height: 1rem;
}

.item-descricao {
    text-align: justify;
    font-weight: 600;
    font-size: clamp(.6rem, 2.5vw, 1.2rem);
    font-family: "Raleway", Arial, sans-serif;
    font-optical-sizing: auto;
    color: #231E1F;
    margin: 0;
    width: 100%;
    line-height: .8rem;
}

.flex {
    display: flex;
    flex-direction: column;
}

.vegetariano {
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.p-relative {
    position: relative;
}

.icone-1 {
    width: 20px;
    margin-left: -5px;
    margin-right: 3px;
    align-self: center;
}

.icone-2 {
    width: 20px;
    margin-right: -10px;
}

.icone-3 {
    width: 25px;
    position: absolute;
    top: 5px;
}

.item-premium {
    position: relative;
}

.item-premium .item-cod {
    margin-left: 30px;
}


.m-negative {
    margin-top: -24px;
}

.img-cardapio {
    width: 100%;
    height: 100%;
    transform: translateY(0px);
    animation: float 8s ease-in-out infinite;
    filter: drop-shadow(2px 2px 5px #000000e3);
    border-radius: 4px;
    object-fit: cover;
}

.cardapio-img {
    width: 100%;

}

.voltar-ao-topo-container {
    position: relative;
}

.voltar-ao-topo {
    position: fixed;
    bottom: 60px;
    right: 10px;
    padding: 10px;
    text-align: center;
    z-index: 100;
    width: 60px;
}

.voltar-ao-topo img {
    filter: drop-shadow(2px 2px 1px #0000008c);
    width: 100%;
}

/* scrool bar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--cinza-claro);
}

::-webkit-scrollbar-track {
    background: var(--preto-azulado);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cinza-claro);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--cinza-claro);
}

::-webkit-scrollbar-horizontal {
    height: 8px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);

    }

}


@media screen and (min-width: 768px) {
    .item-descricao {
        margin-top: .4rem;
        line-height: 1.2rem;
    }

    .item {
        margin-bottom: 1rem;
    }

    /*  .item-cod,
    .item-preco,
    .separador {
        font-size: 1.5rem;
    }
 */
    .item-cod {
        line-height: 2rem;
    }

    .icone-1 {
        width: 40px;
        margin-left: -5px;
    }

    .icone-2 {
        width: 40px;
        margin-right: -10px;
    }

    .icone-3 {
        width: 40px;
        top: 1rem;
    }

    .item-premium .item-cod {
        margin-left: 45px;
    }

    .item-descricao small {
        font-size: 1.2rem;
        font-family: "Raleway", Arial, sans-serif;
        font-weight: 700;
    }

    .destaque::before {
        padding: .5rem 1rem;
        font-size: .8rem;
    }

}