.about {
    padding: 16px;
    text-align: justify;
    margin: auto;
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para IE e Edge */
    overflow: -moz-scrollbars-none;
    /* Para Firefox */
    overflow: hidden;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-us-img {
    width: 254px;
    height: 240px;
    margin-top: 16px;

}

.about-us p {
    margin-bottom: 8px;
    padding: 8px;
    text-align: justify;
    max-width: 680px;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}


@media screen and (max-width: 390px) {
    .about {
        width: 370px;
    }

}


/* Medium devices */
@media screen and (min-width: 768px) {
    .about {
        max-width: 1020px;
        padding: 32px;
    }

    .about-us {
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        overflow-x: visible;
    }

    .about-us_text {
        width: 600px;
    }

    .about-us-title {
        text-align: left;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

/* Large devices */
@media screen and (min-width: 1120px) {
    .about {
        width: 1120px;
        padding: 32px;
    }
}