.cardapio {
    padding: 0 16px;
    color: var(--preto);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardapio_container {
    background: url('../img/cardapio_bg.jpg') no-repeat center;
    background-size: cover;
    padding: 2rem 1rem 2.5rem;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 600px;
    min-width: 370px;

}

.cardapio_titulo {
    color: var(--cinza-escuro);
    font-size: 30px;
    font-family: 'Montserrat';
}

.cardapio_texto {
    font-size: 13px;
    width: 243px;
    margin-bottom: 50px;
}

.alinhar_direita {
    text-align: right;
    align-self: flex-end;
}

.cardapio_texto p {
    margin: 0;
    line-height: 18px;
}

.cardapio_texto>.bold {
    margin: 16px 0 4px 0;
}

.btn_cardapio {
    text-decoration: none;
}

.cardapio_img-1 {
    width: 176px;
    position: absolute;
    left: -75px;
    bottom: 101px;
    transform: rotate(7.5deg);
}

.cardapio_img-2 {
    width: 350px;
    position: absolute;
    right: -254px;
    top: 101px;

}

@media screen and (max-width: 320px) {}

@media screen and (min-width: 768px) {
    .cardapio_container {
        width: 820px;
        max-width: none;
        padding: 3rem 4rem;
    }

    .cardapio_titulo {
        text-align: center;
    }

    .cardapio_texto {
        font-size: 14px;
        width: 490px;
        overflow-y: hidden;
    }

    .cardapio_img-1 {
        width: 200px;
        left: -6px;
        bottom: 21px;
    }

    .cardapio_img-2 {
        width: 400px;
        right: -108px;
    }

}



/* Large devices */
@media screen and (min-width: 1120px) {}