.festivais_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.festivais_h3 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 40px;
    margin: 0;
    color: var(--amarelo);

}

.festivais_p {
    margin: 0;
}

.festival-data{
    color: var(--preto);
    background-color: var(--amarelo);
    padding: .2rem 1rem;
    border-radius: 1rem;
}
