.formulario_section {
    padding: 12px;
    max-width: 1080px;
    margin: auto;
    margin-bottom: 62px;
}

.formulario {
    background-color: var(--vinho);
    padding: 16px 16px 40px 16px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.formulario h2 {
    text-align: center;
}

.fieldset {
    border: none;
    border-top: 1px solid var(--branco);
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 0 0;

}

.fieldset legend {
    padding-right: 16px;

}

.form_input {
    height: 48px;
    width: 100%;
    margin: 8px auto 16px auto;
    border-radius: 16px;
    background-color: #683136;
    border: none;
    outline: none;
    color: var(--branco);
    padding: 0 13px;
    box-sizing: border-box;

}

option {
    margin-left: 8px;
}


.form_input:focus {
    border-bottom: 1px solid var(--vermelho);
    box-shadow: 0px 2px 2px var(--vinho);

}

.form_input::placeholder {
    color: var(--cinza);

}

.radio_container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.radio_container div {
    display: flex;
    justify-content: space-around;

}

.radio_container div label {
    margin: 0 16px 0px 8px;
}

.textarea {
    height: 172px;
    padding: 16px;
}

.transparent_option {
    color: var(--cinza)
}


/* Estilos para o input datetime-local */
.form_input[type="datetime-local"] {
    /* Estilos gerais */
    color: var(--cinza);
    /* Cor do texto */

    /* Estilos específicos para o placeholder (texto de exemplo) */
    ::-webkit-input-placeholder {
        /* Para navegadores Webkit (Safari, Chrome) */
        color: var(--cinza);
        /* Cor do texto do placeholder */
    }

    :-moz-placeholder {
        /* Para Firefox */
        color: var(--cinza);
        /* Cor do texto do placeholder */
        opacity: 1;
        /* Corrigir a opacidade no Firefox */
    }

    ::-moz-placeholder {
        /* Para Firefox */
        color: var(--cinza);
        /* Cor do texto do placeholder */
        opacity: 1;
        /* Corrigir a opacidade no Firefox */
    }

    :-ms-input-placeholder {
        /* Para IE/Edge */
        color: var(--cinza);
        /* Cor do texto do placeholder */
    }
}

/* Estilos quando os campos estiverem preenchidos automaticamente */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    /* Mantenha a consistência com seus estilos padrão */
    background-color: none;
    transition: background-color 5000s ease-in-out 0s;
    /* Evita a mudança repentina */
    color: #333 !important;
    /* Cor do texto para legibilidade */
}

