.sobre {
    padding: 16px;
    text-align: justify;
    margin: auto;
}

.quem_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.quem_somos--img {
    width: 254px;
    height: 240px;
    margin-top: 16px;

}

.quem_somos p {
    margin-bottom: 8px;
    padding: 8px;
    text-align: justify;
    max-width: 680px;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}


@media screen and (max-width: 390px) {
    .sobre {
        overflow-x: hidden;
        width: 370px;
    }
    
  }

    
/* Medium devices */
@media screen and (min-width: 768px) {
    .sobre {
        max-width: 1020px;
        overflow-x: hidden;
        padding: 32px;
    }

    .quem_somos {
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        overflow-x: visible;
    }
    .quem_somos_texto{
        width: 600px;
    }
    .quem_somos-title{
        text-align: left;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

/* Large devices */
@media screen and (min-width: 1120px) {
    .sobre {
        width: 1120px;
        padding: 32px;
    }
}