.sobre{
    padding: 16px;
    text-align: justify;
}
.prato-1 {
    width: 254px;
    height: 240px;
    margin-top: 16px
}
.quem_somos p{
    margin-bottom: 8px;
}
.sobre article{
    display:flex ;
    flex-direction: column;
    align-items: center;
}