.vale-presente__img{
    width: 477px;

}
.vale-presente{
    padding: 16px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-weight: 200;

}
.vale-presente p{
   max-width: 680px;

}
@media screen and (max-width: 320px) {

}

/* Medium devices */
@media screen and (min-width: 768px) {
   .vale-presente__img{
    margin-top: -48px;
    z-index: -1;

}
}