.swiper {
    width: 980px;
    margin: 32px 0;
    position: absolute;
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 390px) {
    .swiper, .swiper-slide img {
        display: none;
    }
    
  }

  