.cardapio-header {
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    box-shadow: 1px 1px 5px #231e1f94;
    width: 100vw;
    margin-bottom: 0 !important;
}

.logo-cardapio img {
    width: 200px;
    margin: auto;
}

.cardapio-links {
    background-color: #A6A6A6;
    width: 100vw;
    z-index: 32;
    margin-top: -16px;
    position: sticky;
    top: 0;

}

.cardapio-links ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 8px;

}

.cardapio-links ul li {
    background-color: #D9D9D9;
    color: black;
    border-radius: 8px;
    font-family: "Suez One", serif;
    font-size: 12px;
    padding: 4px 8px;
}

.cardapio-links ul li:hover {
    background-color: var(--amarelo);

}

.cardapio-links ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

@keyframes fadein {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
        height: calc(100vh - var(--navbar-height));
    }
}

.navigation--fadeout {
    animation: fadeout 300ms forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
        width: 100%;
        height: calc(100vh - var(--navbar-height));
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 400px) {}

/* Medium devices */
@media screen and (min-width: 768px) {
    .cardapio-links ul li {
        font-size: 16px;
    }
    
}