.cardapio-body {
    background: url('../../img/banner/cardapio-bg.jpg');
}

.banner {
    width: 100vw;
    max-width: 762px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-content: space-around;
    margin: auto;
    margin-top: 16px;

}

.banner_img {
    max-width: 100%;
}

.cardapio-body section {
    margin-bottom: 0;
}

.executivo,
.entradas,
.saladas,
.pratos-tipicos,
.peixes,
.carnes,
.risotos,
.bebidas,
.sobremesas {
    width: 100vw;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.cardapio-img {
    width: 100%;

}
